# @lgroup:registry=http://registry.gigantic.local:4873/
# @soundwaves:registry=http://registry.gigantic.local:4873/

@lgroup:registry=http://192.168.1.88:4873/
@soundwaves:registry=http://192.168.1.88:4873/
