@use '../theme/focus';
@use '../theme/palette';
@use '../theme/sizing';
@use '../theme/text';
@use '../utils/mixins';

.button {
  @include mixins.resetButtonStyles;

  display: inline-flex;
  gap: mixins.spacing(1);
  align-items: center;
  padding: mixins.spacing(2) mixins.spacing(3);
  border-radius: sizing.$radius-md;
  @include text.text-sm-leading-6-font-medium;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.1s;
  appearance: button;
  text-decoration: none;

  .button-text {
    padding-inline: mixins.spacing(1);
  }

  // Colour
  &.button--primary {
    background-color: palette.$purple-500;
    color: palette.$white-900;

    &:hover {
      background-color: palette.$purple-600;
    }

    &:disabled {
      background-color: palette.$purple-200;
    }

    &:focus-visible {
      @include focus.focus-ring-purple-500;
    }

    &.button--destructive {
      background-color: palette.$red-500;

      &:hover {
        background-color: palette.$red-600;
      }

      &:disabled {
        background-color: palette.$red-200;
      }

      &:focus-visible {
        @include focus.focus-ring-red-500;
      }
    }
  }

  &.button--secondary {
    background-color: palette.$gray-900;
    color: palette.$white-900;

    &:hover {
      background-color: palette.$gray-700;
    }

    &:disabled {
      background-color: palette.$gray-200;
    }

    &:focus-visible {
      @include focus.focus-ring-gray-900;
    }

    &.button--destructive {
      background-color: palette.$red-500;

      &:hover {
        background-color: palette.$red-600;
      }

      &:disabled {
        background-color: palette.$red-200;
      }

      &:focus-visible {
        @include focus.focus-ring-red-500;
      }
    }
  }

  &.button--tertiary {
    background-color: palette.$gray-50;
    color: palette.$gray-900;

    &:hover {
      background-color: palette.$gray-100;
    }

    &:disabled {
      background-color: palette.$gray-50;
      color: palette.$gray-300;
    }

    &:focus-visible {
      @include focus.focus-ring-purple-500;
    }

    &.button--destructive {
      background-color: palette.$red-50;
      color: palette.$red-700;

      &:hover {
        background-color: palette.$red-100;
      }

      &:disabled {
        background-color: palette.$red-50;
        color: palette.$red-300;
      }

      &:focus-visible {
        @include focus.focus-ring-red-500;
      }
    }
  }

  &.button--outline {
    background-color: palette.$white-900;
    color: palette.$gray-900;
    border: 1px solid palette.$gray-200;

    &:hover {
      background-color: palette.$gray-50;
    }

    &:disabled {
      background-color: palette.$white-900;
      color: palette.$gray-300;
      border-color: palette.$gray-100;
    }

    &:focus-visible {
      @include focus.focus-ring-purple-500;
    }

    &.button--destructive {
      background-color: palette.$white-900;
      color: palette.$red-700;
      border-color: palette.$red-200;

      &:hover {
        background-color: palette.$red-50;
      }

      &:disabled {
        background-color: palette.$white-900;
        color: palette.$red-300;
        border-color: palette.$red-100;
      }

      &:focus-visible {
        @include focus.focus-ring-red-500;
      }
    }
  }

  &.button--transparent {
    background-color: transparent;
    color: palette.$gray-900;

    &:hover {
      background-color: palette.$gray-50;
    }

    &:disabled {
      color: palette.$gray-300;
    }

    &:focus-visible {
      background-color: palette.$white-900;
      @include focus.focus-ring-purple-500;
    }

    &.button--destructive {
      background-color: transparent;
      color: palette.$red-700;

      &:hover {
        background-color: palette.$red-50;
      }

      &:disabled {
        color: palette.$red-300;
      }

      &:focus-visible {
        background-color: palette.$white-900;
        @include focus.focus-ring-red-500;
      }
    }
  }

  &.button--link {
    padding: 0;
    border: 0;
    text-decoration: underline;
    border-radius: sizing.$radius-none;
    color: palette.$gray-900;
    gap: mixins.spacing(2);

    &:disabled {
      color: palette.$gray-300;
    }

    &.button--destructive {
      color: palette.$red-700;

      &:hover {
        color: palette.$red-800;
      }

      &:disabled {
        color: palette.$red-300;
      }
    }

    &.button--sm {
      gap: mixins.spacing(1);
    }
  }

  // Shape
  &.button--pill,
  &.button--round {
    border-radius: sizing.$radius-3xl;
  }

  &.button--rounded {
    border-radius: sizing.$radius-md;
  }

  // Size
  &.button--md {
    padding: mixins.spacing(2) mixins.spacing(3);

    &.button--outline {
      padding: calc(mixins.spacing(2) - 1px) calc(mixins.spacing(3) - 1px);
    }

    .button__icon {
      width: 24px;
      height: 24px;
    }
  }

  &.button--sm {
    padding: mixins.spacing(1) mixins.spacing(2);
    gap: mixins.spacing(1);

    &.button--outline {
      padding: calc(mixins.spacing(1) - 1px) calc(mixins.spacing(2) - 1px);
    }

    .button__icon {
      width: 20px;
      height: 20px;
    }
  }

  .button__icon {
    color: currentColor;
  }

  &.button--icon-only {
    &.button--md {
      padding: mixins.spacing(2);

      &.button--outline {
        padding: calc(mixins.spacing(2) - 1px);
      }
    }

    &.button--sm {
      padding: mixins.spacing(1.5);

      &.button--outline {
        padding: calc(mixins.spacing(1.5) - 1px);
      }
    }

    &.button--xs-icon {
      color: palette.$gray-500;
      padding: mixins.spacing(0.5);

      &.button--outline {
        padding: calc(mixins.spacing(0.5) - 1px);
      }

      .button__icon {
        width: 20px;
        height: 20px;
      }
    }

    &.button--non-destructive-icon-only:hover {
      opacity: 0.7;
    }

    &.button--destructive {
      opacity: 1;
    }
  }

  &.button--toggle {
    font-weight: 400;

    &[data-state='on'] {
      background-color: palette.$gray-50;
      font-weight: 500;
    }
  }
}
