@use '../theme/palette';
@use '../theme/shadows';
@use '../theme/sizing';
@use '../utils/mixins';

.form-control {
  display: flex;
  flex-direction: column;
  gap: mixins.spacing(2);

  .form-control__input-wrapper {
    display: flex;
    align-items: center;
    border-radius: sizing.$radius-md;
    border: 1px solid palette.$gray-200;
    background-color: palette.$white-50;
    box-shadow: shadows.$shadows-xs;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.1s;
    padding-inline: mixins.spacing(2);

    &.form-control__input-wrapper--disabled {
      background-color: palette.$gray-50;
      border-color: palette.$gray-200;
      cursor: not-allowed;

      .form-control__input-addon {
        color: palette.$gray-300;
      }
    }

    &.form-control__input-wrapper--invalid {
      border-color: palette.$red-500;

      .form-control__input-add-on {
        color: palette.$red-500;
      }

      &:focus-within {
        outline-color: palette.$red-500;
      }
      &:hover {
        border-color: palette.$red-600;
      }
    }

    &:hover {
      border-color: palette.$gray-300;
    }

    &.form-control__input-wrapper--focused {
      outline: 2px solid palette.$purple-600;
      outline-offset: -1px;

      .form-control__input-add-on.form-control__input-add-on--chevron svg {
        transform: rotate(180deg);
      }
    }

    .form-control__input-add-on {
      display: flex;
      align-items: center;
      color: palette.$gray-500;
      min-height: 40px;

      &.form-control__input-add-on--before,
      &.form-control__input-add-on--after {
        padding-inline: mixins.spacing(2);
      }

      &.form-control__input-add-on--with-after {
        padding-inline-end: mixins.spacing(1);
      }

      &.form-control__input-add-on--chevron {
        aspect-ratio: 1;
        padding: 0;
        justify-content: center;

        svg {
          transition: transform 100ms ease;
        }
      }

      &:not(.form-control__input-add-on--with-after) .button {
        border-color: palette.$gray-100;
        border-radius: 0;
        border-width: 0;
        border-inline-start-width: 1px;
        border-start-end-radius: sizing.$radius-md - 1px;
        border-end-end-radius: sizing.$radius-md - 1px;
        min-height: 40px;
      }
    }

    &.form-control__input-wrapper--flat-before {
      padding-inline-start: 0;

      .form-control__input-add-on.form-control__input-add-on--before {
        padding-inline-start: 0;
      }
    }

    &.form-control__input-wrapper--flat-after {
      padding-inline-end: 0;

      .form-control__input-add-on.form-control__input-add-on--after {
        padding-inline-end: 0;
      }
    }
  }

  .form-control__input {
    position: relative;
    display: flex;
    align-items: center;
  }

  .form-control__after {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: mixins.spacing(1);

    &.form-control__after--disabled {
      opacity: 0.5;
    }

    &.form-control__after--inline {
      order: 3;
    }
  }

  .form-control__after-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    color: palette.$gray-400;
  }

  &.form-control--progress {
    .form-label__label {
      flex-shrink: 0;
      cursor: default;
    }

    .form-label-helper-text {
      width: fit-content;
      flex-shrink: 0;
    }

    &.form-control--inline {
      flex-direction: row;
      min-width: 200px;
      flex-wrap: nowrap;
      align-items: center;
      gap: mixins.spacing(2);

      @include mixins.mq('xs') {
        flex-wrap: nowrap;
        gap: mixins.spacing(4);
      }
    }
  }

  &.form-control--disabled {
    opacity: 0.5;
  }

  .form-control__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: mixins.spacing(4);
    align-self: stretch;

    &.form-control__wrapper--default {
      flex-wrap: wrap;
      row-gap: 0px;
    }
  }

  .form-control__group-items {
    display: flex;
    flex-direction: column;
    gap: mixins.spacing(2);

    &.form-control__group-items--horizontal {
      flex-direction: row;
      gap: mixins.spacing(6);
    }
  }
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: mixins.spacing(2);
}
