@use '../theme/palette';
@use '../theme/sizing';
@use '../utils/mixins';

.radio {
  display: flex;
  gap: mixins.spacing(2);

  .radio__radio {
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    border-radius: sizing.$radius-3xl;
    color: palette.$gray-200;
    outline-color: palette.$purple-600;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.1s;

    &:focus {
      outline-style: none;
    }

    &:focus-visible {
      outline-width: 2px;
      outline-style: solid;
      outline-offset: -2px;
    }

    &:has([data-state='checked']) .mxr_unchcked {
      display: none;
    }

    &.radio__radio--disabled {
      pointer-events: none;
      color: palette.$gray-200;

      .radio__radio-icon {
        fill: palette.$gray-50;

        &.radio__radio-icon--checked {
          color: palette.$gray-200;
        }
      }
    }

    &:not(.radio__radio--disabled) {
      &[data-state='checked'] {
        color: palette.$purple-600;
      }

      &:hover {
        color: palette.$gray-300;
      }
    }

    .radio__radio-icon {
      transform: scale(1);
      aspect-ratio: 1 / 1;
      width: 100%;

      &.radio__radio-icon--checked {
        position: absolute;
        color: palette.$purple-600;
      }
    }
  }
}
