@use '../theme/palette';
@use '../theme/shadows';
@use '../theme/sizing';
@use '../theme/text';
@use '../utils/mixins';

.select {
  .select__trigger {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-start;
    gap: mixins.spacing(2);
    text-wrap: nowrap;
    border-radius: sizing.$radius-md;
    border: 1px solid palette.$gray-200;
    padding-block: mixins.spacing(2);
    padding-inline-start: mixins.spacing(4);
    padding-inline-end: mixins.spacing(3);
    text-align: start;
    @include text.text-sm-leading-6-font-normal;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.1s;
    --mxr-border-width: 1px;

    & > span {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:focus,
    &[data-state='open'] {
      outline-color: palette.$purple-600;
      outline-style: solid;
      outline-width: 2px;
      outline-offset: -1px;
    }

    &[data-state='open'] .select__trigger-icon .select__trigger-icon-svg {
      transform: rotate(180deg);
    }

    &:not(:disabled),
    &:not(.select__trigger--disabled) {
      color: palette.$gray-900;
      box-shadow: shadows.$shadows-xs;
      &:hover {
        border-color: palette.$gray-300;
      }

      &[data-placeholder] {
        color: palette.$gray-500;
      }
    }

    &:disabled,
    &.select__trigger--disabled {
      cursor: not-allowed;
      background-color: palette.$gray-50;
      opacity: 0.5;
    }

    .select__trigger-icon {
      margin-inline-start: auto;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      color: palette.$gray-900;
      opacity: 0.5;
    }
  }

  .select__content {
    z-index: 9991;
    display: flex;
    min-width: 144px;
    flex-direction: column;
    gap: mixins.spacing(2);
    border-radius: sizing.$radius-md;
    background-color: palette.$white-50;
    padding-block: mixins.spacing(2);
    box-shadow: shadows.$shadows--overlay--light;

    &.select__content--fade-in-down[data-side='bottom'] {
      transform-origin: var(--radix-popper-transform-origin);
      animation: fadeInDown 0.3s cubic-bezier(0.2, 1, 0.4, 1);
    }

    &.select__content--fade-in-up[data-side='top'] {
      transform-origin: var(--radix-popper-transform-origin);
      animation: fadeInUp 0.3s cubic-bezier(0.2, 1, 0.4, 1);
    }

    &.select__content--fade-in-left[data-side='left'] {
      transform-origin: var(--radix-popper-transform-origin);
      animation: fadeInLeft 0.3s cubic-bezier(0.2, 1, 0.4, 1);
    }

    &.select__content--fade-in-right[data-side='right'] {
      transform-origin: var(--radix-popper-transform-origin);
      animation: fadeInRight 0.3s cubic-bezier(0.2, 1, 0.4, 1);
    }
    &.select__content---fade-out[data-state='closed'] {
      transform-origin: var(--radix-popper-transform-origin);
      animation: fadeOut 0.15s cubic-bezier(0.2, 1, 0.4, 1);
    }
  }

  .select__scroll-button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 24px;
      height: 24px;
    }

    &.select__scroll-button--up {
      margin-block-start: mixins.spacing(-2);
    }
    &.select__scroll-button--down {
      margin-block-end: mixins.spacing(-2);
    }
  }

  .select__viewport {
    height: var(--radix-select-trigger-height);
    min-width: calc(var(--radix-select-trigger-width) + 1px);
  }

  .select__label {
    width: 100%;
    padding-inline: mixins.spacing(4);
    padding-block: mixins.spacing(1);
    text-align: start;
    @include text.text-sm-leading-6-font-normal;
    color: palette.$gray-500;
  }

  .select__item {
    position: relative;
    display: flex;
    width: 100%;
    cursor: default;
    user-select: none;
    align-items: center;
    padding-inline: mixins.spacing(4);
    padding-block: mixins.spacing(1);
    @include text.text-sm-leading-6-font-normal;
    outline: transparent solid 2px;
    outline-offset: 2px;

    &:focus,
    &[data-state='checked'] {
      background-color: palette.$gray-50;
    }

    &[data-disabled] {
      pointer-events: none;
      opacity: 0.4;
    }
  }

  .select__item-indicator {
    position: absolute;
    right: 12px;
    margin-inline-start: mixins.spacing(4);
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding-inline-start: mixins.spacing(4);
    color: palette.$purple-600;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .select__separator {
    margin-block: mixins.spacing(2);
    height: 1px;
    background-color: palette.$gray-50;
  }
}
