@use '../theme/palette';
@use '../theme/shadows';
@use '../theme/sizing';
@use '../theme/text';
@use '../utils/mixins';

.textarea {
  background-color: palette.$white-50;
  border-radius: sizing.$radius-md;
  border: 1px solid palette.$gray-200;
  box-shadow: palette.$gray-900;
  display: flex;
  @include text.text-sm-leading-6-font-normal;
  min-height: 112px;
  padding-block: mixins.spacing(2);
  padding-inline: mixins.spacing(4);
  transition-duration: 0.1s;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: shadows.$shadows-xs;
  outline-color: palette.$purple-600;
  color: palette.$gray-900;

  &::placeholder {
    color: palette.$gray-500;
  }

  &:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: -1px;
  }

  &:hover {
    border-color: palette.$gray-300;
  }

  &.textarea--invalid {
    border-color: palette.$red-500;

    &:focus {
      outline-color: palette.$red-500;
    }

    &:hover {
      border-color: palette.$red-500;
    }
  }

  &.textarea--disabled {
    background-color: palette.$gray-50;
    color: palette.$gray-300;
    cursor: not-allowed;

    &::placeholder {
      color: palette.$gray-300;
    }
  }
}
