/* Color styles */
$gray-50: #f7f7f8;
$gray-100: #ebebef;
$gray-200: #d1d1db;
$gray-300: #a9a9bc;
$gray-400: #8a8aa3;
$gray-500: #6c6c89;
$gray-600: #55556d;
$gray-700: #3f3f50;
$gray-800: #282833;
$gray-900: #121217;

$white-50: #ffffff;
$white-100: #ffffff;
$white-200: #ffffff;
$white-300: #ffffff;
$white-400: #ffffff;
$white-500: #ffffff;
$white-600: #ffffff;
$white-700: #ffffff;
$white-800: #ffffff;
$white-900: #ffffff;

$purple-50: #f4f2fd;
$purple-100: #e2dafb;
$purple-200: #c6b6f7;
$purple-300: #a991f3;
$purple-400: #8d6cef;
$purple-500: #7047eb;
$purple-600: #5423e7;
$purple-700: #4316ca;
$purple-800: #3712a5;
$purple-900: #2b0e81;

$red-50: #fef1f4;
$red-100: #fdd8e1;
$red-200: #fbb1c4;
$red-300: #f98ba6;
$red-400: #f76489;
$red-500: #f53d6b;
$red-600: #f3164e;
$red-700: #d50b3e;
$red-800: #af0932;
$red-900: #880727;

$yellow-50: #fff9eb;
$yellow-100: #fff3d6;
$yellow-200: #ffe7ad;
$yellow-300: #ffda85;
$yellow-400: #ffce5c;
$yellow-500: #ffc233;
$yellow-600: #faaf00;
$yellow-700: #c28800;
$yellow-800: #8a6100;
$yellow-900: #523900;

$green-50: #eefbf4;
$green-100: #dff8ea;
$green-200: #b2eecc;
$green-300: #84e4ae;
$green-400: #56d990;
$green-500: #2dca72;
$green-600: #26a95f;
$green-700: #1e874c;
$green-800: #17663a;
$green-900: #0f4527;

$orange-50: #fff3f0;
$orange-100: #ffe8e1;
$orange-200: #ffcdbd;
$orange-300: #ffb399;
$orange-400: #ff9876;
$orange-500: #ff7d52;
$orange-600: #ff571f;
$orange-700: #eb3a00;
$orange-800: #b82e00;
$orange-900: #852100;

$pink-50: #feecfb;
$pink-100: #fdddf8;
$pink-200: #fcc5f3;
$pink-300: #fa99ea;
$pink-400: #f87ce4;
$pink-500: #f75fde;
$pink-600: #f42ad3;
$pink-700: #db0bb9;
$pink-800: #a5088c;
$pink-900: #70065f;

$blue-50: #f0faff;
$blue-100: #dbf3ff;
$blue-200: #ade4ff;
$blue-300: #70d1ff;
$blue-400: #38beff;
$blue-500: #00acff;
$blue-600: #0090d6;
$blue-700: #0075ad;
$blue-800: #005985;
$blue-900: #003e5c;

$background: #f1f1f1;
