@use '../theme/palette';
@use '../theme/sizing';
@use '../theme/text';
@use '../utils/mixins';
@use '../theme/shadows';

.data-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: sizing.$radius-md;
  background-color: palette.$white-50;
  @include text.text-sm-leading-5-font-normal;
  box-shadow: shadows.$shadows-sm;

  .data-table__header {
    background-color: palette.$gray-50;
    border-start-start-radius: sizing.$radius-md;
    border-start-end-radius: sizing.$radius-md;
    position: sticky;
    top: 0;
    z-index: 1;

    .data-table__header-cell:first-child {
      border-start-start-radius: sizing.$radius-md;
    }

    .data-table__header-cell:last-child {
      border-start-end-radius: sizing.$radius-md;
    }
  }

  .data-table__header-cell {
    text-align: left;
    @include text.text-sm-leading-6-font-medium;
    color: palette.$gray-500;
    padding: mixins.spacing(2);
    white-space: nowrap;
  }

  .data-table__cell {
    padding: mixins.spacing(2);
  }

  .data-table__row {
    border-block-end: 1px solid palette.$gray-100;

    &:hover {
      background-color: palette.$gray-50;
    }

    &.data-table__row--selected {
      background-color: palette.$gray-50;
    }
  }

  &.data-table--no-hover {
    .data-table__row:hover {
      background-color: transparent;
    }
  }

  &.data-table--contained {
    background: none;
    box-shadow: none;
    padding: 0;
    border-end-start-radius: 0;
    border-end-end-radius: 0;
  }
}
