@use '../theme/palette';
@use '../theme/text';
@use '../utils/mixins';

.data-table {
  width: 100%;
  border-collapse: collapse;

  .data-table__header-cell {
    text-align: left;
    @include text.text-xs-leading-4-font-medium;
    color: palette.$gray-500;
    padding: mixins.spacing(2);
  }

  .data-table__cell {
    padding: mixins.spacing(2);
  }

  .data-table__row {
    border-block-end: 1px solid palette.$gray-100;

    &:hover {
      background-color: palette.$gray-50;
    }

    &.data-table__row--selected {
      background-color: palette.$gray-50;
    }
  }
}
