@use '../utils/mixins';

.entity-edit-form {
  width: 100%;

  .entity-edit-form__content {
    display: flex;
    flex-direction: column;
    gap: mixins.spacing(4);

    @include mixins.mq('lg') {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .entity-edit-form__start,
  .entity-edit-form__end {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: mixins.spacing(4);
  }

  .entity-edit-form__start {
    @include mixins.mq('lg') {
      flex: 2;
    }
  }

  .entity-edit-form__end {
    @include mixins.mq('lg') {
      flex: 1;
    }
  }
}
