@use '../theme/palette';

.layout {
  display: grid;
  grid-template-columns: 240px 1fr 0px;
  max-height: 100vh;
  height: 100vh;
  transition: grid-template-columns 0.3s ease-in-out;

  main {
    max-height: 100vh;
    overflow: auto;
    background-color: palette.$background;
  }
}
