@use '../theme/palette';
@use '../theme/sizing';
@use '../theme/text';
@use '../utils/mixins';

.navigation {
  width: 100%;
  background-color: palette.$white-50;
  border-inline-end: 1px solid palette.$gray-100;
  padding: mixins.spacing(4);
  padding-block-start: 0;
  max-height: 100vh;
  overflow-y: auto;

  .navigation__logo {
    color: palette.$purple-500;
    padding-block-end: mixins.spacing(3);
    padding-block-start: mixins.spacing(4);
    position: sticky;
    top: 0;
    background-color: palette.$white-50;

    svg {
      height: 40px;
      width: auto;
    }
  }

  .navigation__menu-label {
    padding-inline: mixins.spacing(2);
    padding-block: mixins.spacing(1);
    @include text.text-xs-leading-4-font-medium;
    color: palette.$gray-500;
    text-transform: capitalize;
  }

  .navigation__menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;

    .navigation__menu-item {
      padding-inline: mixins.spacing(2);
      padding-block: mixins.spacing(1);
      border-radius: sizing.$radius-sm;
      display: flex;
      gap: mixins.spacing(2);
      @include text.text-sm-leading-6-font-normal;
      color: palette.$gray-900;
      text-decoration: none;

      &.navigation__menu-item--level-1 {
        margin-inline-start: mixins.spacing(8);
      }

      .navigation__menu-item-text {
        flex-grow: 1;
      }

      svg {
        color: palette.$gray-400;
        width: 24px;
        height: 24px;
      }

      &.navigation__menu-item--selected,
      &:hover {
        background-color: palette.$gray-50;
      }
    }

    &.navigation__menu--divided {
      padding-block-end: mixins.spacing(4);
      border-block-end: 1px solid palette.$gray-100;
      margin-block-end: mixins.spacing(4);
    }
  }
}
