@use '../utils/mixins';

@for $i from 1 through 8 {
  .padding-#{$i} {
    padding: mixins.spacing($i);
  }
}

@for $i from 1 through 8 {
  .margin-#{$i} {
    margin: mixins.spacing($i);
  }
}

.width-300 {
  width: 300px;
}

.width-full {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  gap: mixins.spacing(2);

  &.flex--row {
    flex-direction: row;
  }

  &.flex--column {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &.flex--justify-between {
    justify-content: space-between;
  }

  &.flex--justify-end {
    justify-content: flex-end;
  }
}

.form {
  .form-control {
    width: 100%;
  }
}
