@use '../utils/mixins';
@use '../theme/palette';
@use '../theme/text';

@for $i from 1 through 8 {
  .padding-#{$i} {
    padding: mixins.spacing($i);
  }
}

@for $i from 1 through 8 {
  .margin-#{$i} {
    margin: mixins.spacing($i);
  }
}

.width-300 {
  width: 300px;
}

.width-full {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  gap: mixins.spacing(2);

  &.flex--row {
    flex-direction: row;
  }

  &.flex--column {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &.flex--justify-between {
    justify-content: space-between;
  }

  &.flex--justify-center {
    justify-content: center;
  }

  &.flex--justify-end {
    justify-content: flex-end;
  }

  &.flex--align-center {
    align-items: center;
  }
}

.form {
  .form-control {
    width: 100%;
  }
}

.height-full {
  height: 100%;
}

.text-muted {
  color: palette.$gray-500;
}

.text-sm-leading-6-font-normal {
  @include text.text-sm-leading-6-font-normal;
}
.text-sm-leading-6-font-medium {
  @include text.text-sm-leading-6-font-medium;
}

.meta-list {
  display: flex;
  flex-direction: row;
  gap: mixins.spacing(1);
  color: palette.$gray-700;

  > span {
    &::after {
      content: '•';
      margin-inline-start: mixins.spacing(1);
      color: palette.$gray-500;
    }

    &:last-child {
      &::after {
        content: none;
      }
    }
  }
}
